<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="winfarm_vede_prezzi_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
  <userSettings>
    <winfarm_vede_prezzi_2._0.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="percorso" serializeAs="String">
        <value>c:\program files (x86)\winfarm\archivi\arc2000.phs</value>
      </setting>
      <setting name="farmacia" serializeAs="String">
        <value>Farmacia</value>
      </setting>
      <setting name="timer" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="colore" serializeAs="String">
        <value>Blue</value>
      </setting>
    </winfarm_vede_prezzi_2._0.Properties.Settings>
  </userSettings>
</configuration>